<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secureApiProtocol</key>
	<string>https</string>
	<key>imdbAPIKey</key>
	<string>k_t0dt9r7a</string>
	<key>imdbURI</key>
	<string>imdb-api.com/API</string>
</dict>
</plist>
